
<div class="server-card">
    <p>Remote: @server.RemoteServer</p>
    <p>IP: @server.Ip</p>
    <p>Password: @server.Password</p>
    <p>ProfileID: @server.DefaultProfile</p>
</div>

@code {
    [Parameter] public ServersClass server { get; set; }
}