<div class="server-add-modal">
    <EditForm Model="server" OnValidSubmit="Submit" FormName="addServer">
        <div>
            <DataAnnotationsValidator />
            <ValidationSummary />
        </div>
        <div>
            <label>
                IP:
                <InputText @bind-Value="server!.Ip"/>
            </label>
        </div>
        <div>
            <label>
                Remote Server:
                <InputCheckbox @bind-Value="server!.RemoteServer"/>
            </label>
        </div>
        <div>
            <label>
                Password:
                <InputText @bind-Value="server!.Password"/>
            </label>
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </EditForm>
</div>

@code {
    [SupplyParameterFromForm]
    public ServersClass server { get; set; }

    protected override void OnInitialized()
    {
        server = new ServersClass();
    }
    
    private async void Submit()
    {
        Console.WriteLine($"IP: {server.Ip}, Remote: {server.RemoteServer}, Password: {server.Password}");
        SettingsHelper.Instance.AddServerToServerList(server);
        SettingsHelper.Instance.SaveSettings();
        // as we do validation, this will only happen if everything is set.
        // set a new server so they can add another fast
        server = new ServersClass();
    }
}