@* https://fonts.google.com/icons *@

<div class="nav-left">
    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
        <span class="material-symbols-outlined" aria-hidden="true">home</span>
    </NavLink>

    @* <NavLink class="nav-link" href="Quests"> *@
    @*     <span class="material-symbols-outlined" aria-hidden="true">indeterminate_question_box</span> *@
    @* </NavLink> *@
    @* *@
    @* <NavLink class="nav-link" href="Items"> *@
    @*     <span class="material-symbols-outlined" aria-hidden="true">category</span> *@
    @* </NavLink> *@
</div>

<div class="nav-right">
    <NavLink class="nav-link" href="Settings">
        <span class="material-symbols-outlined" aria-hidden="true">settings</span>
    </NavLink>
</div>