@page "/"

<div class="server-add-container">
    <a @onclick="() => OnServerAddClick()">
        <ServerAddCard/>
    </a>
</div>
<div class="server-container">
    @foreach (var server in _servers)
    {
        <div class="server-card">
            <ServerCard server="@server" />
            <button @onclick="() => TryServerConnect(server)">--TryConnect--</button>
            <button @onclick="() => RemoveServerFromList(server)">--Remove--</button>
        </div>
    }
</div>

@if (ShowModal)
{
    <div class="server-modal-overlay" @onclick="() => OnCloseServerAdd()"></div>
    <ServerAddModal />
}

@code {
    private static List<ServersClass> _servers = RefreshServerList();
    private bool _showModal = false;

    public bool ShowModal
    {
        get
        {
            return _showModal;
        }
        set
        {
            _showModal = value;
            Console.WriteLine($"ShowModal set to: {_showModal}");
        }
    }

    private async void OnServerAddClick()
    {
        ShowModal = true;
    }

    public async void OnCloseServerAdd()
    {
        ShowModal = false;
        Home.RefreshServerList();
    }

    private async void RemoveServerFromList(ServersClass server)
    {
        SettingsHelper.Instance.RemoveServerFromServerList(server);
        Home.RefreshServerList();
    }

    public static List<ServersClass> RefreshServerList()
    {
        return SettingsHelper.Instance.GetSettings().Servers;
    }

    private async void TryServerConnect(ServersClass server)
    {
        
    }
}