#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
    color: red;
    margin-left: 3rem;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.dialog-backdrop-class {
    backdrop-filter: blur(10px);
}

.background-image-bear {
    position: absolute;
    width: 370px;
    opacity: 2%;
    top: -80px;
    left: -60px;
    rotate: -25deg;
}

.background-image-server {
    position: absolute;
    width: 370px;
    opacity: 2%;
    top: -50px;
    left: -60px;
    rotate: -25deg;
}

.background-image-usec {
    position: absolute;
    width: 330px;
    opacity: 2%;
    top: -10px;
    left: -18px;
    rotate: -25deg;
}

.background-image-settings {
    position: absolute;
    width: 512px;
    opacity: 2%;
    top: -10px;
    left: -40px;
    rotate: 165deg;
}

.card-overflow {
    position: relative;
    overflow: hidden;
}

.card-glow {
    position: absolute;
    top: -200px;
    left: -250px;
    transform: translate(-50%, 0%);
    width: 800px;
    height: 800px;
    border-radius: 50% 22% 40% 80%;
    filter: blur(100px);
    opacity: 0.2;
}

.glow-purple {
    background: radial-gradient(circle at 50% 50%,rgba(76, 0, 255, 1), rgba(76, 0, 255, 0));
}

.glow-gold {
    background: radial-gradient(circle at 50% 50%, rgb(208, 154, 36, 1), rgba(208, 154, 36, 0));
}

.glow-grey {
    background: radial-gradient(circle at 50% 50%, rgb(200, 200, 200, 1), rgba(200, 200, 200, 0.4));
}

.glow-blue {
    background: radial-gradient(circle at 50% 50%, rgb(17, 39, 182), rgba(17, 39, 182, 0.4));
}

.glow-green {
    background: radial-gradient(circle at 50% 50%, rgb(115, 255, 0), rgba(115, 255, 0, 0.4));
}

.glow-red {
    background: radial-gradient(circle at 50% 50%, rgb(255, 0, 0), rgba(255, 0, 0, 0.4));
}

.no-pointers {
    pointer-events: none;
}

.mud-dialog-content {
    margin: 0 !important;
    padding: 0 !important;
}

a.setting-on-hover:hover {
    background-color: rgba(170, 170, 170, 0.2);
    border-radius: 5px;
}

.no-select {
    user-select: none;
}

.text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}