@inherits LayoutComponentBase
@inject IJSRuntime JS

<MudThemeProvider IsDarkMode="true"/>
<MudPopoverProvider/>
<MudSnackbarProvider/>
<MudDialogProvider/>

<MudLayout>
    <MudAppBar Dense="true" Elevation="0">
        <div id="draggable-container" style="height: 100%; width: 100%" @onmousedown="StartDragging"></div>
    </MudAppBar>
    <MudDrawer @bind-Open="_drawerOpen" Width="150px" ClipMode="DrawerClipMode.Always" Elevation="0" Variant="@DrawerVariant.Mini" OpenMiniOnHover="true" Breakpoint="Breakpoint.None">
        <NavMenu/>
    </MudDrawer>
    <MudMainContent Class="pt-14">
        @Body
    </MudMainContent>
</MudLayout>

@code {
    bool _drawerOpen = true;
    
    private async Task StartDragging(MouseEventArgs e)
    {
        await JS.InvokeVoidAsync("startDragging", e.ClientX, e.ClientY);
    }
}